<main class="vw-report">
	<div class="col s9 title">
      <h3 class="thin">Viajes</h3>
      <div class="add-button">
        <a class="modal-trigger btn-floating btn-small waves-effect waves-light blue-grey" href="{{ctrl.link}}">
          <i class="material-icons">get_app</i>
        </a>
    	</div>
    </div>
    <br/>
		<table class="bordered centered highlight" >
	        <thead>
	          	<tr>
	                <th data-field="ruta">Ruta</th>
	                <th data-field="bus">Bus</th>
					<th data-field="fecha">Fecha</th>
					<th data-field="personas">Total Estudiantes</th>
					<th data-field="descripcion">Descripcion</th>
	          	</tr>
	        </thead>
	        <tbody>
				<tr ng-repeat="viaje in ctrl.viajes">
					<td>{{viaje.route.name}}</td>
					<td>{{viaje.plate}}</td>
					<td>{{ctrl.dateToString(viaje.date)}}</td>
					<td>{{viaje.students.length}}</td>
					<td>{{viaje.route.description}}</td>
	          	</tr>
	        </tbody>
    </table>
		<!-- Pagination -->
		<div pager-directive range="ctrl.range" ctrl="ctrl"> </div>
</main>
